.list {
  width: 30rem;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  li {
    font-size: 1.4rem;
    padding: 1rem;
  }
  li:hover {
    background: #eee;
    font-size: 1.6rem;
    cursor: pointer;
  }
}