@import '../styles/_colors';
.suggestion {
  width: 30rem;
  position: absolute;
  top: 3.5rem;
  border: 0.1rem solid $color-gray;
  background-color: rgba($color-white, 0.9);
  max-height: 15rem;
  overflow: auto;
  .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      font-size: 1.4rem;
      padding: 1rem;
      cursor: pointer;
    }
    li:hover {
      background: $color-dark-gray;
      font-size: 1.6rem;
    }
  }
  .text {
    font-size: 1.4rem;
    padding: 1rem;
    cursor: pointer;
  }
}
