@import 'styles/colors';
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  padding: 5rem;
  background-color: $color-light-gray;
  font-size: 1.4rem;
}

.form-wrapper {
  position: relative;
  .form-control {
    display: block;
    padding: 0.5rem;
    border: 0.1rem solid $color-gray;
    margin: 2rem 0 0;
    width: 30rem;
    background-color: $color-white;
    &.show-focus {
      border-color: $color-blue;
      label {
        color: $color-blue;
      }
    }
    input {
      outline: none;
      border: none;
      display: block;
      line-height: 1.2%;
      width: 100%;
      padding: 0.5rem;
    }
    label {
      display: block;
      font-size: 0.8rem;
      color: $color-gray;
    }
  }
  .button {
    background-color: $color-blue;
    border: 0.1rem solid $color-blue;
    border-radius: 0.3rem;
    color: $color-white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px 0;
    &:disabled {
      background-color: $color-white;
      border-color: $color-gray;
      color: $color-gray;
    }
  }
}