*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  padding: 5rem;
  background-color: #f1f4f5;
  font-size: 1.4rem;
}

.form-wrapper {
  position: relative;
  .form-control {
    display: block;
    padding: 0.5rem;
    border: 0.1rem solid #a0a0a1;
    margin: 2rem 0 0;
    width: 30rem;
    background-color: #fff;
    &.show-focus {
      border-color: #0098d0;
      label {
        color: #0098d0;
      }
    }
    input {
      outline: none;
      border: none;
      display: block;
      line-height: 1.2%;
      width: 100%;
      padding: 0.5rem;
    }
    label {
      display: block;
      font-size: 0.8rem;
      color: #a0a0a1;
    }
  }
  .button {
    background-color: #0098d0;
    border: 0.1rem solid #0098d0;
    border-radius: 0.3rem;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px 0;
    &:disabled {
      background-color: #fff;
      border-color: #a0a0a1;
      color: #a0a0a1;
    }
  }
}
